:root {
  --bg-color: #f9fafb;
  --btn-bg: #ffba00;
  --bg-color2: #4983C2;  ;
  --mid-bg:  #B2C7DD4D;
  --box: box-shadow: 0px 4px 4px 0px #0000001A;
  --span: #4983C2;
  --badge: #2f5107;
  --footer: #212121;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}
/* .property-btn{
  color: #fff;
}

.property-btn:hover{
  color: var(--bg-color2);
} */

/* Global Styles */
body{
  width: 100%;
}
button{
  cursor: pointer;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
}
p{
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.section-p1 {
  padding: 80px 160px;
}
.section-p2 {
  padding: 40px 80px;
}
.section-p3 {
  padding: 20px 40px;
}

/* header start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 600;
  transition: 0.5s ease;
}
#navbar li a.property-btn{
  color: #fff;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--bg-color2);
  font-weight: 700;
}
#navbar li a.active::after{
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--bg-color2);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#close{
  display: none;
}
.mobile{
  display: none;
  align-items: center;
}
.property-btn {
  background-color: var(--bg-color2);
  width: 149px;
  height: 43px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  gap: 10px;
  color: #fff;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  border: 0;
  text-decoration: none;
}
.property-btn:hover{
  background-color: white;
  border: 1px solid var(--bg-color2);
  color: var(--span);
}
#hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  
}
.hero-text{
  background-color: rgba(0, 0, 0, 0.5);   
  width: 100%;
  height: 100%;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

#hero h1 {
  margin-bottom: 15px;
  color: #ffffff;
  z-index: 1;
}
#hero h1 span, #services h3 span, #other-services h2 span{
  color: var(--span);
}
#hero p{
  margin-bottom: 15px;
  color: #FFFFFF;
}
#hero .property-btn, #find .property-btn, #properties .property-btn, #product-details button, #other-services button{
  background: #FFBA00;
}
#hero .property-btn:hover, #find .property-btn:hover, #properties .property-btn:hover, #product-details button:hover, .badge:hover, #other-services button:hover{
  border: 1px solid #FFBA00;
  background-color: #fff;
  color: #FFBA00;
}

#hero a{
  margin-bottom: 15px;
}
.rent{
  padding: 10px;
  background: var(--bg-color);
  border: 0;
  
}


#form-reserve{
  /* position: relative;
  z-index: 5; */
  /* margin-top: -30px; */
  text-align: center;
}
#form-reserve .form-inner{
  max-width: 1200px;
  height: 131px;
  box-shadow: 0px 4px 4px 0px #0000001A;
  background-color: var(--mid-bg);
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  gap: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-body_inner{
  /* width: 247px; */
  height: 71px;
  padding: 10px;
  border: 1px solid #000000;
  gap: 11px;
  
}
.form-body_inner.inner_most{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-body_inner .text{
  width: 123px;
  height: 51px;
  gap: 2px;
  display: inline-block;
}
.form-body_inner .text h5,
.form-body_inner.search .text a {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color:#212121;
  text-decoration: none;
}
.form-body_inner .text p{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color:#212121;
}
.form-body_inner.search .text {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  gap: 7px;
  margin: auto;
}
#form-reserve .list {
  position: relative;
  list-style: none;
  background: #ffff;
  left: 60px;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: none;
}

#form-reserve .list li{
  padding: 10px;
  border-bottom: 1px solid var(--bg-color2);
  text-align: left;
  cursor: pointer;
}
#form-reserve .list li:hover{
  border-bottom: 1px solid var(--btn-bg);
}
#features{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature-box{
  height: 260px;
}
.feature-box img{
  margin-bottom: 5px;
}
.feature-box h5{
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}
.feature-box p{
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;  
}

#find{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
#find .image{
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 10;
}
#find #findDetails{
  padding-left: 40px;
}


#find .image::before{
  content: '';
  width: 500px;
  height: 310px;
  border: 2px solid var(--bg-color2);
  border-radius: 10px;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: -1;

}

#find .image img{
  max-width: 500px;
  height: auto;
}
#find h3{
  margin-bottom: 10px;
  font-size: 33px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #212121;
}
#find p{
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: justify;  
}

#properties{
  text-align: center;
}

#properties .best{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#properties p{
  margin: 15px 0 20px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;

}
#properties h2{
  font-size: 33px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
}
.views{
  display: flex;
  justify-content: end;
}
.views button{
  width: 222px;
  height: 47px;
  border: 1px solid #000000;
  color: var(--bg-color2);
}
.views button svg{
  padding-left: 5px;
}
#properties .pro-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
#properties .pro, #product-cards .p-card{
  width: 30%;
  min-width: 350px;
  background: #FFFFFF;
  padding: 20px 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#properties .pro img{
  width: 100%;
  border-radius: 10px;
}

#properties .pro:hover, 
.review-content .card:hover,
#product-cards .p-card:hover{
  box-shadow:  20px 20px 30px rgba(0, 0, 0, 0.06);
}
#properties .pro .description{
  text-align: start;
  padding: 10px 0;
}
#properties .pro .description .descr{
  display: flex;
  justify-content: space-between;
}

#properties .pro .description .des,
#product-cards .p-card .description .des{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}
#properties .pro .description h4{
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.badge{
  /* width: 87.43px; */
  height: 38.66px;
  position: absolute;
  top: 44.63px;
  left: 220.86px;
  padding: 10px;
  gap: 11px;
  background: var(--btn-bg);
  border: none;
  border-radius: 10px;
  color: #ffff;
  font-weight: 700;
  border-left: 10px solid #fff;
}


#banner{
  background: var(--mid-bg);
  padding: 20px 80px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .text h3{
  font-size: 48px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  color: var(--bg-color2);
}
#banner .text h6{
  font-size: 33px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
}

#review{
  height: 744px;
  padding: 64px 104px 69px 101px;
  border: 1px;   
  background: var(--mid-bg);
}
#review .reviews{
  height: 611px;
  padding: 40px 25px;
  background-color: #ffff;
}
.reviews-heading{
  position: relative;
  bottom: 20px;
}
.testimonial{
  font-size: 33px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--span);
  margin-bottom: 15px;
}
.reviews-heading h5{
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.review-content{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0.999rem;
}
.review-content .card{
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #FFFFFF;
  width: 315px;
  padding: 20px 21px 31px 21px;
}

.review-content .card-content .profile{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.review-content .card-content .profile p{
  margin-left: 10px;
  padding-top: 40px;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;

}
.review-content .card-content .profile p span{
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.review-content .card-content .profile-about p{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: justify;
  margin-bottom: 20px;
}
footer{
  background: var(--footer);
  padding: 4rem;
  
}
.footer-container .footer-content{
  display: flex;
  justify-content: space-between;
}
.footer-container h5{
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffff;
}
.footer-content{
  margin-top: 20px;

}
.footer-container div ul li{
  list-style: none;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: center;

}
.footer-container div ul li a{
  color: #ffff;
}

.footer-btn .search-btn{
  position: relative;
  bottom: 3rem;
  padding: 10px 26px 8px 23px;
  border-radius: 7px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--bg-color2);
  background: #FEFCFC;
  cursor: pointer;
}
.follow{
  position: relative;
  top: 3rem;
}
.follow-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Product Page */
#product-details{
  display: flex;
  margin-top: 20px;
}

#product-details .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#product-details .single-prod-details{
  width: 50%;
  padding-top: 30px;
}

#product-details .single-prod-details h4{
  padding: 40px 0 20px 0;
}
#product-details .single-prod-details h2{
  font-size: 26px;
}
#product-details .single-prod-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#product-details .single-prod-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}
#product-details.single-prod-details button{
  background-color: #088178;
  color: #fff;
}

#product-details.single-prod-details input:focus{
  outline: none;
}

#product-details.single-prod-details span{
  line-height: 25px;
}


/* =====================About us page============================= */
.about-us{
  margin-top: 20px;
  position: relative;
}
.about-us h3{
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: center;
  color: var(--bg-color2);
}
.about-us h4{
  font-size: 33px;
  font-weight: 700;
  line-height: 46.2px;
  text-align: center;
}
.about-us h4::after{
  content: '';
  width: 200px;
  height: 310px;
  border-top: 2px solid #212121;
  position: absolute;
  left: 30.5rem;
  bottom: 10.3rem;
}
.about-us h4::before{
  content: '';
  width: 200px;
  height: 310px;
  border-top: 2px solid #212121;
  position: absolute;
  right: 30rem;
  bottom: 10.3rem;
}
.about-us .about-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mission a{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission h4{
  margin-bottom: 10px;
}
.mission h4::before{
  content: '';
  width: 200px;
  height: 310px;
  border-top: 2px solid #212121;
  position: absolute;
  right: 29rem;
  bottom: -6rem;
}
.mission h4::after{
  content: '';
  width: 200px;
  height: 310px;
  border-top: 2px solid #212121;
  position: absolute;
  left: 29rem;
  bottom: -6rem;
}
.mission div p{
  text-align: center;
}
#team{
  background: #F9FAFB;
}
#team h4{
  font-size: 33px;
  font-weight: 700;
  line-height: 46.2px;
  text-align: left;
  color:#054A91;
  text-align: center;
  margin-bottom: 5px;
}
#team p{
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 26.6px;
  text-align: justified;
}
#team .team-profile{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#team .team-profile .team-member h6{
  font-size: 23px;
  font-weight: 700;
  line-height: 32.2px;
  text-align: left;
  color: #054A91;
}
#team .team-profile .team-member span{
  font-size: 19px;
  font-weight: 400;
  line-height: 26.6px;
  text-align: left;
  color: #FA931D;

}
#newsletter{
  background: #4983C2;
  border-radius: 20px 0px 20px 0px;
  position: relative;
}
#newsletter .left{
  position: absolute;
  width: 90.76px;
  height: 90.77px;
  top: -3px;
  left: 1460px;
  gap: 0px;
  opacity: 1;
  background-color: #FA931D;
  border-radius: 50px;
}
#newsletter .right{
  position: absolute;
  width: 90.76px;
  height: 90.77px;
  top: 302px;
  left: -54px;
  gap: 0px;
  opacity: 0px;
  background-color: #FA931D;
  border-radius: 50px;
}
#newsletter div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#newsletter div p{
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  margin-bottom: 15px;
}
#newsletter div h3{
  font-size: 23px;
  font-weight: 700;
  line-height: 32.2px;
  text-align: left;
  margin-bottom: 15px;
}
#newsletter div h4{
  font-size: 19px;
  font-weight: 700;
  line-height: 26.6px;
  text-align: center;
  color: #FFFFFF80;
  margin-bottom: 20px;
}
#newsletter div .email{
  position: relative;
  width: 383px;
  height: 76px;
}
#newsletter div .email input{
  width: 383px;
  height: 76px;
  top: 227px;
  left: 528px;
  padding: 18px 14px 14px 20px;
  gap: 0px;
  border-radius: 30px;
  background: inherit;
  border: 1px 0px 0px 0px;
  border: 1px solid #FFFFFF;
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  color: #FFFFFF80;

}
#newsletter div .email button{
  position: absolute;
  width: 121px;
  height: 44px;
  top: 18px;
  left: 248px;
  gap: 10px;
  border-radius: 20px;
  opacity: 0px;
  background: #FFBA00;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: #ffff;
}

/* ==============================Contact us Page===================== */
#questions{
  background:linear-gradient(101.76deg, #569EE5 14.09%, #1F214C 42.54%);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#questions h3, #contact-us h3{
  margin-top: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
}
#questions .question-input div{
  margin-bottom: 10px;
}
#questions .question-input div button{
  width: 49px;
  height: 49px;
  padding: 13px 12px 12px 13px;
  gap: 0px;
  color: #ffff;
  border-radius: 10px;
  opacity: 0px;
  background-color: #4983C2;
  border: none;
  margin-right: 20px;
}
#questions .question-input div input{
  width: 738px;
  height: 49px;
  padding: 11px 297px 10px 23px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #4983C2;
  border: none;
}
#questions .question-input div input::placeholder{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: white;

}
#contact-us{
  margin-top: 1rem;
  background:linear-gradient(129.37deg, #1C1C41 17.19%, #4E88C6 72.53%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
#contact-us p{
  font-size: 26px;
  font-weight: 400;
  line-height: 36.4px;
  text-align: left;
  color: #E7ECEE;
}
#contact-us .question-input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
#contact-us .question-input input{
  width: 975px;
  height: 56px;
  padding: 15px;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px;
  background: #E7ECEE;
}
#contact-us .question-input input::placeholder,
#contact-us .question-input textarea::placeholder{
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000609;
}
#contact-us .question-input textarea{
  width: 975px;
  height: 193px;
  padding: 15px;
  gap: 0px;
  border-radius: 5px;
  opacity: 0px;
  background: #E7ECEE;
}
#contact-us button{
  margin: 3rem;
  background: #4271A7;
  color: #fff;
  /* padding: 10px; */
  width: 149px;
  height: 57px;
  padding: 10px 36px 10px 37px;
  gap: 10px;
  border-radius: 10px;
  border: none;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.77px;
  text-align: left;
}
#product-cards .card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#product-cards .p-card{
  display: flex;
  width: 56.25rem;
  height: 23rem;
  gap: 1.25rem;
}
#product-cards .p-card p{
  text-align: justify;
  margin-top: 0.5rem;
  font-size: 19px;
  font-weight: 400;
  line-height: 26.6px;
  padding-bottom: 10px;
  /* text-align: left; */

}
#product-cards .p-card .descr a{
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #054A91;

}
#product-cards .p-card .description{
  padding: 2rem;
}
#product-cards .p-card .description .descr svg{
  position: relative;
  top: 7rem;
  left: 22rem;
}
/* #product-cards .p-card .description .badge{
  top: 170px;
  left: 330px;
} */

/* ===================================Our Services page==================================== */
#services h3, #other-servies h2{
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
}
#services p{
  font-size: 19px;
  font-weight: 400;
  line-height: 26.6px;
  text-align: left;
}
#services .services-card{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#services .services-card .s-card div, #other-services .services-card .s-card div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
#services .services-card .s-card div h5{
  font-size: 23px;
  font-weight: 700;
  line-height: 32.2px;
  text-align: center;
}
#services .services-card .s-card div p, #other-services p, #other-services .services-card .s-card p{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin-top: 3px;
}
#other-services h2{
  text-align: center;
}
#other-services .services-card .s-card{
  margin-top: 20px;
}
#other-services .services-card .s-card button{
  margin-top: 5px;
}
#other-services .services-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.our-gallery .services-card{
  margin-top: 20px;
  
}
#other-services .services-card .gallery{
  position: relative;
  margin-bottom: 10px;
}
#other-services .services-card .gallery .badge-btn{
  position: relative;
  bottom: 15rem;
  left: 50px;
}

/* ==========================================DETAILS PAGE========================= */
#details {
  position: relative;
}
#details img{
  width: 100%;
}
#details .svg {
  position: absolute;
  left: 1rem;
  margin-top: 1.5rem;
}
#details .details-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#details .details-container .sales .for,
#details .details-container .sales .details-amount h2{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
}
#details small{
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
}
#details p{
  font-size: 23px;
  font-weight: 400;
  line-height: 32.2px;
  text-align: left;
}
#details .details-container .sales .details-amount{
  margin-bottom: 0.2rem;
}
#details .details-container .like-details-icons{
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
#details .details-container .like-details-numbers{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
#details .details-container .like-details-numbers p{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: #000;
}
#details .details-container .like-details-numbers p:not(:last-child)::after{
  content: "";
  width: 77px;
  height: 0px;
  display: flex;
  transform: rotate(-90deg);
  border: 1px solid #212121;
  position: absolute;
  top: 50%;
  left: 60%;
}
#details .details-container .like-details-numbers p small{
  font-size: 23px;
  font-weight: 400;
  line-height: 32.2px;
  text-align: left;
  color: #212121;

}
#details-about .detail-about{
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}
#details-about .detail-about h3{
  margin-bottom: 1rem;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  /* text-align: center; */
  color: #212121;
}
#details-about .detail-about .d-about-us p{
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.2px;
  margin-bottom: 1rem;
}
#details-about .detail-about .d-about-us .iconsndetails{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1.5rem;
}
#details-about .detail-about .d-about-us .iconsndetails .p-details{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#details-about .detail-about .list-card{
  width: 25.25rem;
  height: 31.25rem;
  padding: 35px 26px 36px 47px;
  gap: 0px;
  border-radius: 5px 50px 5px 5px;
  border: 1px solid #21212166
}
#details-about .detail-about .list-card h4{
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  /* text-align: center; */
  color: #212121;
  margin-bottom: 0.7rem;
}
#details-about .detail-about .list-card p{
  font-size: 23px;
  font-weight: 400;
  line-height: 32.2px;
  color: #212121;
}
#details-about .detail-about .list-card h4{
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
  margin-top: 0.7rem;
}
#details-about .detail-about .list-card .agent-profile{
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
#details-about .detail-about .list-card .agent{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
#details-about .detail-about .list-card .agent p{
  font-size: 19px;
  font-weight: 700;
  line-height: 26.6px;
  text-align: center;
}
#details-about .detail-about .list-card .agent button,
#details-about .detail-about .list-card button{
  border: 1px solid #4983C2;
  width: 121px;
  height: 47px;
  padding: 10px;
  background: #fff;
  margin-top: 1.5rem;
  color: #4983C2;
}
#details-about .detail-about .list-card .agent button:hover,
#details-about .detail-about .list-card button:hover{
  background-color: #4983C2;
  color: #fff;
}

#details-about .detail-about .list-card button{
  width: 313px;
  height: 47px;
}
#details-about .detail-about .list-card .approved{
  color: #fff;
  background-color: var(--btn-bg);
  border: none;
}
#details-about .detail-about .list-card .approved:hover{
  color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
  background-color: #fff;
}
#details-about .detail-about .d-about-us .d-location img{
  width: 100%;
}
/* MEDIA QUERY */
@media (max-width:799px) {
  .section-p1 {
      padding: 40px 40px;
  }
  #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content:flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #ffff;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: ease 0.3s;
    }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
      margin-bottom: 25px;
  }
  .mobile{
      display:flex;
      align-items: center;
      }
  .mobile i{
      color: #1a1a1a;
      font-size: 24px;
      padding-left: 20px;
    }
  #close{
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #222;
      font-size: 24px;
    }
    .hero-text {
      padding: 20px 20px;
    }
    #form-reserve{
      display: none;
    }
    #features{
      justify-content: center;
      flex-direction: column;
    }
    .feature-box {
      margin-bottom: 30px;
    }
    #find {
      flex-direction: column;
      align-items: center;
    }
    #find img {
      width: 400px;
      margin-bottom: 20px;
    }

    #find .image::before{
      width: 400px;
      height: 250px;
    }

    #find div{
      padding-left: 0px;
    }
    #find div h3{
      font-size: 28px;
    }
    #properties .pro-container {
      justify-content: center;
    }
    #banner {
      display: block;
    }
    #banner .text{
      margin-bottom: 10px;
    }
    #review .reviews {
      height: 83rem;
    }
    #review {
      padding: 10px 5px;
      height: 84rem;
    }
    .review-content {
      justify-content: center;
      flex-wrap: wrap;
    }
    .review-content .card {
      margin-bottom: 20px;
    }
    .footer-content {
      flex-direction: column;
    }
    #questions .question-input div input{
      padding: 20px;
      width: 250px;
    }
    #contact-us p{
      text-align: center;
    }
    #contact-us .question-input input{
      width: 250px;
    }
    #contact-us .question-input textarea{
      width: 250px;
    }
    #team .team-profile {
      justify-content: center;
      flex-direction: column;
    }
    #services .services-card {
      justify-content: center;
    }
    #other-services .services-card {
      justify-content: center;
    }

    .footer-btn .search-btn{
      bottom: 0;
      margin-left: 40px;
    }
    #product-cards .card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    #product-cards .p-card {
      display: flex;
      flex-direction: column;
      width: 56.25rem;
      height: auto;
      gap: 1.25rem;
    }
    .follow-links {
      justify-content: center;
    }
    #details .details-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    #details .svg{
      width: 40px;
      margin-top: 0;
    }

    #details-about .detail-about{
      flex-direction: column;
    
    }
    #details-about .detail-about .list-card{
      width: 100%;
      padding: 20px;
    }
    #details-about .detail-about .list-card p {
      font-size: 19px;
    }
    #details-about .detail-about .list-card button {
      width: 100%;
    }
    #details-about .detail-about .d-about-us p{
      margin-bottom: 2rem;
    }
    #details img {
      height: 30vh;
    }
    .d-location{
      margin-bottom: 2rem;
    }
    .footer-container h5 {
      text-align: center;
    }

}
@media (max-width: 477px)
{
  .section-p1 {
    padding: 20px 20px;
  }
  #other-services .services-card, #services .services-card{
    justify-content: center;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    background-position: 55%;
  }
  #product-details {
    display: flex;
    flex-direction: column;
  }
  #product-details .single-pro-image {
      width: 100%;
      margin-right: 0px;
  }
  #product-details .single-prod-details {
      width: 100%;
  }
}
@media (max-width: 1200px){
  .about-us h4::before {
    display: none;
  }
  .about-us h4::after{
    display: none;
  }
}